<nav class="navbar bg-primary">
  <ul class="nav w-100">
    <li class="nav-item col-5 text-center border-end border-light">
      <a class="nav-link text-white" href="/staff">Staf</a>
    </li>
    <li class="nav-item col-5 text-center border-end border-light">
      <a class="nav-link text-white" href="/administration/filter">Beheer</a>
    </li>
    <li class="nav-item col-1 text-center border-end border-light">
      <a class="nav-link text-white" href="/about">Informatie</a>
    </li>
    <li class="nav-item col-1 text-center">
      <a class="nav-link text-white" href="/login/logout">Log-uit</a>
    </li>
  </ul>
</nav>
